In [2]:
import numpy as np
import random

In [ ]:
x=np.random.rand(1000) #input 
w=np.random.rand(1000) #respected weight

In [ ]:
z=np.dot(w.transpose(),x)

In [ ]:
#Text vectorization

In [15]:
!pip install nltk

In [27]:
import pandas as pd
import nltk
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
nltk.download('punkt')

In [17]:
para="He was an expert but not in a discipline that anyone could fully appreciate. He knew how to hold the cone just right so that the soft server ice-cream fell into it at the precise angle to form a perfect cone each and every time. It had taken years to perfect and he could now do it without even putting any thought behind it. Nobody seemed to fully understand the beauty of this accomplishment except for the new worker who watched in amazement."

In [26]:
para_to_sen=nltk.tokenize.sent_tokenize(para)
para_to_sen

['He was an expert but not in a discipline that anyone could fully appreciate.',
 'He knew how to hold the cone just right so that the soft server ice-cream fell into it at the precise angle to form a perfect cone each and every time.',
 'It had taken years to perfect and he could now do it without even putting any thought behind it.',
 'Nobody seemed to fully understand the beauty of this accomplishment except for the new worker who watched in amazement.']

In [54]:
 CV=CountVectorizer()


freq= CV.fit_transform(para_to_sen)

print(freq.toarray())
freq=CV.vocabulary_
print(freq)

[[0 0 1 0 0 0 1 1 0 0 0 1 0 1 0 1 0 0 0 0 0 1 0 0 0 1 0 1 0 0 0 1 0 0 0 0
  0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 0 0 0 0 0]
 [0 0 0 1 1 0 0 0 1 0 0 0 2 0 1 0 0 1 0 1 0 0 1 0 1 0 0 1 1 1 1 0 1 1 1 1
  0 0 0 0 0 1 1 0 1 0 1 1 1 0 1 3 0 0 1 2 0 0 0 0 0 0 0]
 [0 0 0 1 0 1 0 0 0 0 1 0 0 1 0 0 1 0 1 0 0 0 0 0 0 0 1 1 0 0 0 0 0 3 0 0
  0 0 0 1 0 1 0 1 0 0 0 0 0 1 0 0 0 1 0 1 0 0 0 0 1 0 1]
 [1 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 1 0 0 0 0 0 1 0 0 0 0
  1 1 0 0 1 0 0 0 0 1 0 0 0 0 0 2 1 0 0 1 1 0 1 1 0 1 0]]
{'he': 27, 'was': 57, 'an': 2, 'expert': 21, 'but': 11, 'not': 38, 'in': 31, 'discipline': 15, 'that': 50, 'anyone': 6, 'could': 13, 'fully': 25, 'appreciate': 7, 'knew': 35, 'how': 29, 'to': 55, 'hold': 28, 'the': 51, 'cone': 12, 'just': 34, 'right': 44, 'so': 47, 'soft': 48, 'server': 46, 'ice': 30, 'cream': 14, 'fell': 22, 'into': 32, 'it': 33, 'at': 8, 'precise': 42, 'angle': 4, 'form': 24, 'perfect': 41, 'each': 17, 'and': 3, 'every': 19, 'time': 54, 'had': 26, 'taken': 49, 'years': 62, 'now': 39, 'do': 16, 'without': 60, 'even': 18, 'putting': 43, 'any': 5, 'thought': 53, 'behind': 10, 'nobody': 37, 'seemed': 45, 'understand': 56, 'beauty': 9, 'of': 40, 'this': 52, 'accomplishment': 0, 'except': 20, 'for': 23, 'new': 36, 'worker': 61, 'who': 59, 'watched': 58, 'amazement': 1}

In [46]:
df=pd.DataFrame(data=freq,index=[10])
df

,he,was,an,expert,but,not,in,discipline,that,anyone,...,of,this,accomplishment,except,for,new,worker,who,watched,amazement
10,27,57,2,21,11,38,31,15,50,6,...,40,52,0,20,23,36,61,59,58,1